# data & artifacts
data/
datasets/
runs/
outputs/
converted_labels/
analysis_outputs/
interpretability_methods/outputs/

# weights & large files
*.pt
*.pth
*.ckpt
*.onnx
*.npz
*.npy

# notebooks & python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# secrets
kaggle.json
.env

# OS
.DS_Store

# macOS system files
._*
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100/
.Trashes
.fseventsd


# Windows system files (sometimes appear on shared drives)
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
